html{
    
    display: flex;
    flex-flow: row nowrap;  
    justify-content: center;
    align-content: center;
    align-items: center;
    height:1050px;
    margin: 0;
    padding: 0;
	background: linear-gradient(-45deg,#C9CED6, #C9CED6, #8CB4F4, #8CB4F4);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    }
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

body {
    background-color:white;
    width: 100%;
    max-width: 1000px;
    margin: 0;
    height: 1050px;
    box-shadow: 0px 0px 50px 0px rgba(20,50,50,0.55);
}

h1 {
    font-size: 50px;
    font-family: trebuchet ms;
    background:#eeeeee; 
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
    font-style: italic;
    padding-top: 10px;
    color: whitesmoke;
   
}

div{
    padding-top: 10px;
    
}

top{
    overflow: hidden;
}

.top a{
    background:#eeeeee;
    float: left;
    font-size: 17px;
    background-image: linear-gradient(black,whitesmoke);
    padding-left: 15px;

}
img{
    width: 28px
}

.top a:hover{
    background-color: #D3D3D3;
    color: black;
}

input {
    width: 70px;
    float: right;
    transition: width 0.5s ;
    border-radius: 5px;
}

input[type=text]:focus {
    width: 25%;
}

input[type=password]:focus {
    width: 25%;
}

input[type=submit]{
    
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    font-family: sans-serif;
}


label{
    
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 18px;
    color:dimgrey;
    
}

fieldset{
    
    background-image: linear-gradient(lightblue,white);
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.55);
    padding-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    
}

legend{
    
    font-family: sans-serif;
    color:darkgrey;
    
}


footer{
    
    float: left;
    border-radius: 1px;
    background-color: darkgray;
    width: 100%;
    height: 70px;
    margin-top: 120px;
    
}

#contact{
    
    color: white;
    font-family: impact;
    
}










